@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">UWU</h1>
</div>
@if (Model.CurrentUser.login != null)
{
    <p>@Html.DisplayFor(m => m.CurrentUser.login) is logged in</p>
    <a asp-page="game" class="btn btn-dark">Start Game</a>
    <a asp-page="achievements" class="btn btn-dark">Achievements</a>
}
else
{
    <a asp-page="./login" class="btn btn-dark">login</a>
    <a asp-page="registration" class="btn btn-dark">registration</a>
}
